@model IEnumerable<EmployeeScheduleApplication.Models.Schedule>

@{
    ViewData["Title"] = "Index";
    List<Schedule> schedules = (List<Schedule>)ViewData["schedules"];

    bool isLoggedIn = User.Identity.IsAuthenticated;


}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (schedules != null && isLoggedIn)
{
        <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in schedules) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a> |
                    <a asp-action="Create" asp-controller="Shift">Add a Shift</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

}
else if(schedules == null && isLoggedIn){
    <p>you have no schedules</p>
}
else
{
    <p>please log in</p>

}


